---
import { Play } from "lucide-react";
---

<section class="w-full py-20 flex flex-col md:items-center justify-center gap-y-8">
  <h2 class="text-5xl sm:text-6xl lg:text-8xl text-pretty font-extrabold md:text-center leading-tight lg:leading-tight">
    <span class="block">Shopping just got</span>
    <span class="block">
      <span>easier</span>
      <span class="text-primary">&</span>
      <span>faster</span>
    </span>
  </h2>
  <p class="max-w-3xl md:text-center text-typography text-lg">
    The "Smart Supermarket with AI" app integrates AI to enhance inventory management, personalize shopping, optimize
    pricing, and improve customer service, revolutionizing the traditional supermarket model for efficiency and
    satisfaction.
  </p>
  <div class="flex md:items-center gap-x-6 gap-y-4 flex-col xs:flex-row">
    <a href="/download" class="w-fit rounded-xl bg-primary px-6 py-2.5 text-white text-lg font-bold">Get Started</a>
    <a href="/" class="w-fit text-blue-500 flex items-center gap-x-2">
      <span class="p-1 border-2 border-blue-500 rounded-full block"><Play className="size-4" /></span>
      <span class="font-bold text-lg">View Demo</span>
    </a>
  </div>
</section>
