<div class="flex items-center justify-center">
  <h2
    class="bg-gradient-to-r from-primary to-secondary font-bold text-center text-pretty text-4xl xs:text-5xl sm:text-6xl text-transparent bg-clip-text"
  >
    <slot />
  </h2>
</div>
